@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color: #1047ad;
    --black-color: #292814;
    --border: 0.1rem solid rgba(255, 255 ,255 , 0,4);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: full-width;
    transition : 0.2s ease;
}

section{
    padding: 3.5rem 7%;
}

.btn{
    margin-top: 2rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 2rem;
    background-color: #ffffff8f;
}

/* base html codes */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}


/* header start */
 
.header .logo img {
    height: 10rem;
    border-radius: 27%;
    margin-top: 8px;
}
.header{
    background-color: #ffffff8f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    position: sticky;
    top: 0;
    border-radius: 30rem;
    z-index: 500; /* bunun nedeni scroll aşağı gitse de headerim kaybolmasın(önüne bir şey geçmesin). */

}

.header .navbar a{
    margin: 0.1rem;
    font-size: 2rem;
    border-bottom: 0.1rem solid transparent;
    margin-left: 2.4rem;
}

.header .navbar:hover{
    transform: scale(1.2);
}

.header .navbar a:hover{
    border-color: aqua;
    padding-bottom: 0.2rem;
}


.header .avatar{
    font-size: 3.8rem;
    cursor: pointer;
}

/* header end */

/* hakkımda start */
.aboutme{
    min-height: 100vh;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.aboutme .content{
    max-width: 60rem;
}

.aboutme .content h3{
    font-size: 6.3rem;
    color: rgb(160, 134, 19);
}

.aboutme .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color:  rgb(160, 134, 19);
}
/* hakkımda end */

/* öğrenim hayatım basladi*/

.schoolexperiences .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.schoolexperiences .box-container .lise img{
    width: 100%;
    object-fit: cover;
}
.schoolexperiences .box-container .universite img{
    width: 100%;
    object-fit: cover;
    height: 46rem;
}

.schoolexperiences .box-container .lise p{
    color: rgb(160, 134, 19);
    font-size: 24px;
    margin-top: 16px;
}
.schoolexperiences .box-container .universite p{
    color: rgb(160, 134, 19);
    font-size: 24px;
    margin-top: 16px;
}

.schoolexperiences .box-container .lise{
    padding: 3rem;
    background-color: #0c0e9c8f;
    border-radius: 3%;
    margin-right: 12px;
}

.schoolexperiences .box-container .universite{
    margin-left: 12px;
    padding: 3rem;
    background-color: #0c0e9c8f;
    border-radius: 3%;
}
.schoolexperiences h1{
    font-size: 6.3rem;
    color: rgb(160, 134, 19);
}

.box-container .lise .box-head .lise-foto-aciklama{
    font-size: 18px;
    color:rgb(160, 134, 19);
    text-decoration: underline;
}
.box-container .universite .box-head .üniversite-foto-aciklama{
    font-size: 18px;
    color:rgb(160, 134, 19);
    text-decoration: underline;
}

/* öğrenim hayatım bitti*/