@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --main-color: #1047ad;
    --black-color: #292814;
    --border: 0.1rem solid rgba(255, 255 ,255 , 0,4);
}



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: full-width;
    transition : 0.2s ease;
}

section{
    padding: 3.5rem 7%;
}

.btn:hover{
    background-color:aqua;
    color: rgb(228, 11, 55);
    transform: scale(1.1109);
}


.btn{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 2rem;
    background-color: #ffffff8f;
    font-style: italic;
}

.heading{
    color:rgb(160, 134, 19);
    text-transform: uppercase;
    font-style: italic;
    font-size: 6.3rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid rgb(160, 134, 19);
}
.heading span{
    font-style: italic;
    color: turquoise;
    text-transform: uppercase;
}


/* base html codes */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white
}

html::-webkit-scrollbar-thumb{
    background-color: rgb(79, 55, 168);
    border-radius: 3rem;
}
p{
    font-size: 2.4rem;
}
.title{
    color: turquoise;
    margin-left: 3rem;
}

/* header start */
 
.header .logo img {
    height: 10rem;
    border-radius: 27%;
    margin-top: 8px;
}
.header{
    background-color: #ffffff8f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    position: sticky;
    top: 0;
    border-radius: 30rem;
    z-index: 500; /* bunun nedeni scroll aşağı gitse de headerim kaybolmasın(önüne bir şey geçmesin). */

}

.header .navbar a{
    margin: 0.1rem;
    font-size: 2.4rem;
    border-bottom: 0.1rem solid transparent;
    margin-left: 2.8rem;
}

.header .navbar:hover{
    transform: scale(1.2);
}

.header .navbar a:hover{
    border-color: aqua;
    padding-bottom: 0.2rem;
}


.header .avatar{
    font-size: 3.8rem;
    cursor: pointer;
}

/* header end */

/* hakkımda start */
.aboutme{
    min-height: 100vh;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.aboutme .content{
    font-style: italic;
    max-width: 60rem;
}

.aboutme .content h3{
    font-size: 6.3rem;
    color: rgb(160, 134, 19);
}

.aboutme .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color:  rgb(160, 134, 19);
}
/* hakkımda end */

/* öğrenim hayatım basladi*/

.schoolexperiences .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.schoolexperiences .box-container .lise img{
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.schoolexperiences .box-container .lise .img2{
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 7rem;
}
.schoolexperiences .box-container .universite img{
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.schoolexperiences .box-container .lise p{
    font-size: 24px;
    margin-top: 16px;
}
.schoolexperiences .box-container .universite p{
    font-size: 24px;
    margin-top: 16px;
}

.schoolexperiences .box-container .lise{
    padding: 3rem;
    background-color: rgb(129, 141, 137);
    border-radius: 3%;
    margin-right: 12px;
}

.schoolexperiences .box-container .universite{
    margin-left: 12px;
    padding: 3rem;
    background-color: rgb(129, 141, 137);
    border-radius: 3%;
}
.schoolexperiences h1{
    font-size: 6.3rem;
}

.box-container .lise .box-head .lise-foto-aciklama{
    font-size: 18px;
    text-decoration: underline;
}

.box-container .universite .box-head .üniversite-foto-aciklama{
    font-size: 18px;
    text-decoration: underline;
}

/* öğrenim hayatım bitti*/


/* projeler basladi */

.projelerim .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
}

.projelerim .box-container .proje{
    text-align: center;
    position: relative;
    border-radius: 3rem;
    background-color: rgb(129, 141, 137);
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;

}

.projelerim .box-container .proje .box-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 10;
}
.projelerim .box-container .proje .box-head .title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    overflow-wrap: anywhere;
    margin-left: 6.5rem;
}
.projelerim .box-container .proje .info{
    font-size: 2.4rem;
}

/* projeler bitti */



/* Hobilerim başladı */
.hobilerim .box-container .box .image{
    margin-bottom: 4rem;
}
.hobilerim .box-container .box .fragman{
    width: 48rem;
    height: 60rem;
    margin-bottom: 4.2rem;
}
/* .hobilerim .box-container .box .box-bottom .info{
}
 */


.hobilerim .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}

.hobilerim .box-container .box{
    text-align: center;
    background-color: rgb(129, 141, 137);
    position: relative;
    border-radius: 3rem;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3rem;
}
.hobilerim .box-container .box .box-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}
.hobilerim .box-container .box .box-head .title{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    overflow-wrap: anywhere;
}


/* Hobilerim bitti */

/* footer basladi */
footer{
    background-color: #646161;
    text-align: center;

}

/* footer bitti */